
#FirstTitle{

    margin-left: 70px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px #666666;
}

body{
    background: url("images/segelEdit.JPG") no-repeat center center fixed;
    background-color: #fbfcff;
    background-repeat: no-repeat;
    max-width: 95%;
    max-height: 95%;
    background-size: auto;
    background-position: right;
}

header{
    background-color: dimgray;
    color:white;
    padding:5px;
}

#title{
    text-align:center;
}

.beer{
    /*border: 1.5px solid black;*/
    /*background-color: lightgray;*/
    width: 250px;
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 10px;
    float: left;
    overflow: scroll;
    height: 470px;
}



.crossButton{
    background-color: whitesmoke;
    color: red;
}

.countField{
    width: 15px;
    background-color: whitesmoke;
}

#blinkDragText{
    color: black;
    font-size: large;
    font-weight: bolder;
    margin-left: 300px;
    margin-top: 60px;
    float: left;
    animation-duration: 3s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#undoRedoButton{

    margin-top: 40px;
    margin-left: 90px;
    float: left;

}

.undoredoClass{
    background-color: azure;
    font-weight: bold;
    border-radius: 10px;
    width: 70px;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



#beerTable{
    border: 2px solid black;
    border-radius: 10px;

}

.beerName{
    width: 150px;
}

.beerPrice{
    width: 100px;
}

.menuRow{
    height: 30px;
    border: 3px solid black;
    background-color: darkgray;
    cursor: move;
}

.menuRowEven{
    height: 30px;
    border: 3px solid black;
    background-color: lightslategray;
    cursor: move;
}



.beerImage{
    border: 0.5px solid black;
    height: 130px;
    width: 100px;
    float: left;
    margin: 10px;
    position: absolute;
}

.beerInfo{
    margin-left: 5px;
    background-color: antiquewhite;
    height: 30px;

}
#basketPackage{
    width: 400px;
    margin-left: 250px;
    margin-top: 5px;
    float: left;
}
#basket{

    width: 350px;
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    border-radius: 10px;
    padding: 25px;
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 100px;
}

#totalField{
    margin-left: 300px;
    margin-top: 5px;
}

#sum{
     width: 50px;
    font-weight: bold;
}

#totalPara{
    font-weight: bold;
}

#continueButton{
    background-color: azure;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
}

#FilterAndSearchContainer{

    width: 180px;
    float: left;
}


#allergiFilter{
    border: 0.5px dashed black;
}

#nameSearch {
    border: 0.5px dashed black;
}
#priceSearch {
    border: 0.5px dashed black;
}

#searchfield {
    width: 100px;
    margin-left: 15px;
}
#filterButton{
    background-color: #c0c0b8;
    border-radius: 5px;
    width: 100px;
    margin-left: 75px;
}

#namebutton {
    background-color: #c0c0b8;
    border-radius: 5px;
    width: 100px;
    margin-left: 75px;
}

#pricebutton {
    background-color: #c0c0b8;
    border-radius: 5px;
    width: 100px;
    margin-left: 75px;
}

#languageflag{
    display: inline-block;
    float: right;
    margin: auto;
    width: 30px;
    height: 22px;
    padding-left: 20px;
}

#account{
    float: right;
    cursor: pointer;
    /*border: 0.5px dashed black;*/
}

#accountmanage{
    /*float: right;*/
    /*position: absolute;*/
    /*border: 0.5px dashed black;*/
    background-color: gainsboro;
    border-radius: 5px;
    margin-left: 30px;

}

.setting {
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 1px;
    cursor: pointer;
}
